%body
%h1 Todos
%ul{:style=> "list-style-type:circle"}
  - @tasks.each do |task|
    %li= task



%h2 New to do

%form{:action=> "/" , :method=> "get"}
  %input{:type=> "Text",  :name=> "Todo", :style=> "width: 50px"}
  %input{:type=>"Submit", :value=>"Submit"}
