%body

%form{:action => "#"}
  %h1 Todos
  %fieldset
    %ul
    - @tasks.each do |task|
      %li= task
      %input{:name => "todo", :type => "checkbox", :value => "Submit"}Done



%h2 New to do

%form{:action=> "/" , :method=> "get"}
  %input{:type=> "Text",  :name=> "todo", :style=> "width: 50px"}
  %input{:type=>"Submit", :value=>"Submit"}
