%body
%h1 Internet-Taschenrechner

%form{:action=>"/input", :method=>"post"}
  %input{:type=>"text", :name=>"numbers", :value=>"Hier stehen Zahlen"}
  %input{:type=>"submit", :value=>"Berechne"}

%form
  %b Ergebnis:
  %input{:type=>"hidden",  :value=>"result"}
= @result

%form{:action=>"/eins", :method=>"post"}
  %input{:type=>"submit", :value=>"1"}

%form{:action=>"/zwei", :method=>"post"}
  %input{:type=>"submit", :value=>"2"}

%form{:action=>"/drei", :method=>"post"}
  %input{:type=>"submit", :value=>"3"}

%form{:action=>"/vier", :method=>"post"}
  %input{:type=>"submit", :value=>"4"}

%form{:action=>"/fünf", :method=>"post"}
  %input{:type=>"submit", :value=>"5"}

%form{:action=>"/sechs", :method=>"post"}
  %input{:type=>"submit", :value=>"6"}

%form{:action=>"/sieben", :method=>"post"}
  %input{:type=>"submit", :value=>"7"}

%form{:action=>"/acht", :method=>"post"}
  %input{:type=>"submit", :value=>"8"}

%form{:action=>"/neun", :method=>"post"}
  %input{:type=>"submit", :value=>"9"}

%form{:action=>"/zehn", :method=>"post"}
  %input{:type=>"submit", :value=>"10"}

%form{:action=>"/null", :method=>"post"}
  %input{:type=>"submit", :value=>"0"}
