%body
%h1 Internet-Taschenrechner

%form{:action=>"/input", :method=>"post"}
  %input{:type=>"text", :name=>"numbers", :value=>"Hier stehen Zahlen"}
  %input{:type=>"submit", :value=>"Berechne"}

%form
  %b Ergebnis:
  %input{:type=>"hidden",  :value=>"result"}
= @result

.keys
%span 1
%span 2
%span 3
%span 4
%span 5
%span 6
%span 7
%span 8
%span 9
%span 0
