<body>
  <h1>Todos</h1>
  <table style="list-style-type:circle">
    <li>putzen</li>
    <li>einkaufen</li>
  <% @tasks.each do |elem| %>
    <tr>
      <li>
        <%= elem %>
      </li>
    </tr>
  <% end %>
  </table>

<h2>Add new todo</h2>

<form action="/" method="get">
New Thing: <input type="text" name="todo" style='width: 50px'>
<input type="submit" value="Submit">
</form>


</body>
